<div class="hero-section">
  <div class="hero-section-text">
    <!-- <h1>Live, Breathe, Paddle</h1> -->
    <h5></h5>
  </div>
</div>

<div class="marketing-site-content-section">
  <div class="marketing-site-content-section-img">
    <img src="assets/cayuco_culture_640x360_black" alt="" />
  </div>
  <div class="marketing-site-content-section-block">
    <h3 class="marketing-site-content-section-block-header">Cayuco Culture</h3>
    <p class="marketing-site-content-section-block-subheader subheader">Cayuco Culture is a small company created by local paddler and craftsmen, Chris & Bob Huerbsch. The father-son team has pushed the boundaries in local cayuco and paddle designs since the creation of their two boats: J-Rock & Dynamis.  Cayuco Culture’s success is largely due to the combination of Chris’ paddling experience combined with Bob’s creative engineering.</p>
    <a href="http://www.cayucoculture.com/" class="round button small">learn more</a>
  </div>
  <div class="marketing-site-content-section-block small-order-2 medium-order-1">
    <h3 class="marketing-site-content-section-block-header">Istmo Outrigger</h3>
    <p class="marketing-site-content-section-block-subheader subheader">The father-son team is now focusing their attention on the construction of outrigger canoes. Their goal is to fabricate unlimited canoes in Panama to give local paddlers the capabilities to train and compete abroad, as well as to eventually host an international race comparable to those hosted in Hawaii and Tahiti.</p>
    <a href="#" class="round button small">learn more</a>
  </div>
  <div class="marketing-site-content-section-img small-order-1 medium-order-2">
    <img src="https://images.pexels.com/photos/300857/pexels-photo-300857.jpeg?h=350&auto=compress&cs=tinysrgb" alt="" />
  </div>
</div>

